//
//  Digipost-Enterprise.xcconfig
//  Digipost
//
//  Created by Eivind Bohler on 09.12.13.
//  Copyright (c) 2013 Shortcut. All rights reserved.
//

#include "Shared.xcconfig"

SERVER_URI = \@\"https:\/\/www.digipost.no\"

OAUTH_CLIENT_ID = \@\"bc070447ff37466cbe93ec52c94a9239\"
OAUTH_SECRET = \@\"XtoWDaWFjJq1RgQjs7igirtRn24J4vJyQ9yK_b33myE\"
OAUTH_REDIRECT_URI = \@\"http:\/\/localhost:7890\"

HOCKEY_BETA_IDENTIFIER = \@\"404089363671e36ce59a1d75bc92254a\"
HOCKEY_LIVE_IDENTIFIER = \@\"404089363671e36ce59a1d75bc92254a\"

LUMBERJACK_LOG_LEVEL = LOG_LEVEL_VERBOSE

GCC_PREPROCESSOR_DEFINITIONS = $(SHARED_GCC_PREPROCESSOR_DEFINITIONS) __SERVER_URI__=$(SERVER_URI) __OAUTH_CLIENT_ID__=$(OAUTH_CLIENT_ID) __OAUTH_SECRET__=$(OAUTH_SECRET) __OAUTH_REDIRECT_URI__=$(OAUTH_REDIRECT_URI) __HOCKEY_BETA_IDENTIFIER__=$(HOCKEY_BETA_IDENTIFIER) __HOCKEY_LIVE_IDENTIFIER__=$(HOCKEY_LIVE_IDENTIFIER) __LUMBERJACK_LOG_LEVEL__=$(LUMBERJACK_LOG_LEVEL)