// 
// Copyright (C) Posten Norge AS
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//         http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "Pods/Target Support Files/Pods-Digipost/Pods-Digipost.debug.xcconfig"

#include "Shared.xcconfig"

ACCEPT_SELF_SIGNED_CERTIFICATES = 0

SERVER_URI = \@\"https:\/\/www.digipost.no\"
API_VERSION = \@\"v2\"

LUMBERJACK_LOG_LEVEL = LOG_LEVEL_INFO
GOOGLE_ANALYTICS_LOG_LEVEL = kGAILogLevelWarning

GCC_PREPROCESSOR_DEFINITIONS = $(SHARED_GCC_PREPROCESSOR_DEFINITIONS) $(inherited) __ACCEPT_SELF_SIGNED_CERTIFICATES__=$(ACCEPT_SELF_SIGNED_CERTIFICATES) __SERVER_URI__=$(SERVER_URI) __API_VERSION__=$(API_VERSION) __LUMBERJACK_LOG_LEVEL__=$(LUMBERJACK_LOG_LEVEL) __GOOGLE_ANALYTICS_LOG_LEVEL__=$(GOOGLE_ANALYTICS_LOG_LEVEL)
