// 
// Copyright (C) Posten Norge AS
// 
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
// 
//         http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

#include "Pods/Target Support Files/Pods/Pods.debug.xcconfig"
#include "Pods/Target Support Files/Pods/Pods.release.xcconfig"

AUTHENTICATION_URI = \@\"/post/api/oauth/authorize/new\"
ACCESS_TOKEN_URI = \@\"/post/api/oauth/accesstoken\"
ROOT_RESOURCE_URI = \@\"/post/api\"



SHARED_GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __AUTHENTICATION_URI__=$(AUTHENTICATION_URI) __ACCESS_TOKEN_URI__=$(ACCESS_TOKEN_URI) __ROOT_RESOURCE_URI__=$(ROOT_RESOURCE_URI)
