//
//  Shared.xcconfig
//  Digipost
//
//  Created by Eivind Bohler on 09.12.13.
//  Copyright (c) 2013 Shortcut. All rights reserved.
//

#include "Pods/Pods.xcconfig"

AUTHENTICATION_URI = \@\"/post/api/oauth/authorize/new\"
ACCESS_TOKEN_URI = \@\"/post/api/oauth/accesstoken\"
ROOT_RESOURCE_URI = \@\"/post/api\"

SHARED_GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __AUTHENTICATION_URI__=$(AUTHENTICATION_URI) __ACCESS_TOKEN_URI__=$(ACCESS_TOKEN_URI) __ROOT_RESOURCE_URI__=$(ROOT_RESOURCE_URI)